html{
    min-height:100%;
    position:relative;
}

body {
    margin: 0;
    background-image: url("sunny1.jpg");
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#header h1{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: left;
    padding: 20px;
    padding-left: 60px;
    font-size: 50px;
}

#header svg{
    margin-right: 100px;
    justify-content: right;
}

#header svg:hover{
    cursor: pointer;
}

.sidenav {
    font-family: "Lato", sans-serif;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: url("fog.jpg");
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 100px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#inputLocation{
    display: flex;
    padding: 50px;
    justify-content: center;
}

#inputLocation input{
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    width: 400px;
    padding: 10px;
    padding-left: 20px;
    font-size: 26px;
    border-style: none;
    border-top-left-radius: 20px;
    box-shadow: 0px 4px 10px grey;
}

#inputLocation button{
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    border-bottom-right-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 10px grey;
}

#inputLocation input:focus{
    outline: none;
    text-decoration: none;
}

#inputLocation button:hover{
    cursor: pointer;
}

#defaultData,#defaultDataPara{
    display:none;
}

.default-weather{
    font-family: "Dancing Script", cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.default-weather-class{
    margin-right: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding:20px;
    border-radius: 4px;
}

.default-location {
    font-size: 48px;
    margin-bottom: 10px;
}
.default-temperature {
    font-size: 30px;
}
.default-description{
    font-size: 32px;
}

#add-default-weather{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    height: 183px;
    width: 183px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

#tempData{
    display: none;
}

#add-default-weather img{
    transition: 0.5s ease-in-out;
}

#add-default-weather img:hover{
    cursor: pointer;
    height: 80px;
    width: 80px;
    transition: 0.5s ease-in-out;
}

.remove-btn {
    cursor: pointer;
    background-color: #ffffff00;
    padding: 5px;
    text-align: right;
}

#weather{
    font-family: "Dancing Script", cursive;
    display: none;
    padding:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#location {
    font-size: 48px;
    margin-bottom: 10px;
}
#temperature {
    font-size: 30px;
}
#description {
    font-size: 32px;
}

#forecast{    
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
}

.forecastData{
    margin: 20px;
}




.footer{
    position: absolute;
    bottom: 0;
    right: 50%;
}
