html {
    height: 100%;
}

body {
    margin: 0;
    background: url("../sunny1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Protest Riot', sans-serif;
}

#login {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    animation: fadeIn 0.8s ease-in-out;
}

#signup {
    display:none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    animation: fadeIn 0.8s ease-in-out;
}

#header {
    text-align: center;
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#auth-form ,#signUpAuthForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 2px solid #4CAF50;
}

#buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

button {
    flex: 1;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
